.room-item, .res-item, .sel-res-item, .card-body, .card, .form-control  {
    background-color: rgba(255, 255, 255, 0.498);
}

#results-div > .room-item, .res-item {
    cursor: pointer;
}

.img-fluid {
    width: 100%;
}

#results-div, #my_reservations-div, #room-div, #select_res-div {
    width: 75%;
}
@media (max-width: 767px) {
    #results-div, #my_reservations-div, #room-div, #select_res-div {
        width: 100%;
    }
}

body {
    background-image: url("shore_blurred.jpg");
    background-attachment: fixed;
    background-size: cover;
    -webkit-filter: blur(8);
    filter: blur(8);
}

* {
    font-family: 'Itim', cursive;
}

#results-div, #room-div, #rooms-div, #my_reservations-div, #select_res-div {
    font-size: 1.2rem;
    display: none;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#search-div, #results-div, #room-div, #rooms-div, #my_reservations-div, #select_res-div, footer {
    animation-name: appear;
    animation-duration: 500ms;
}